@use "../../../assets/styles/scss/" as *;

.firstLevel {
	display: grid;
	align-items: center;

	margin-top: 20px;

	font-size: 18px;
	font-weight: 500;
	line-height: 25px;
	grid-template-columns: 24px 1fr;
	gap: 20px;

	@include tablet(910px) {
		font-size: 20px;
	}
}

.firstLevelList {
	padding: 0;

	list-style: none;
}

.firstLevelActive,
.firstLevel:hover {
	color: $primary;
}

.firstLevelActive svg,
.firstLevel:hover svg {
	fill: $primary;
}

.secondLevel {
	margin-bottom: 10px;
	padding: 0;

	cursor: pointer;
	text-transform: uppercase;

	color: $gray-dark;
	border: none;

	background: none;

	font-size: 13px;

	font-weight: 300;

	@include tablet(910px) {
		max-width: 250px;
		padding: 5px;

		border: 1px solid $gray-dark;
		border-radius: 10px;

		font-size: 18px;
	}
}

.secondBlock {
	margin-top: 15px;
	margin-left: 12px;
	padding: 0 0 0 32px;

	list-style: none;

	border-left: 1px solid #DFDFDF;
}

.secondLevelBlock {
	overflow: hidden;

	padding: 0;

	list-style: none;
}

.thirdLevel {
	display: block;
	overflow: hidden;

	margin-bottom: 10px;

	cursor: pointer;
	white-space: nowrap;
	text-overflow: ellipsis;

	color: $gray-dark;
	outline-offset: -1px;

	font-size: 14px;
	font-weight: 500;

	@include tablet(910px) {
		padding: 7px 0;

		font-size: 16px;
	}
}

.thirdLevelActive,
.thirdLevel:hover {
	color: $primary;
}
