$black: #38434E;
$white: #FFF;
$primary: #7653FC;
$primary-hover: #5931F7;
$red: #FC836D;
$red-dark: #FF6A50;
$green: #1DC37E;
$green-light: #C8F8E4;
$gray-dark: #787D85;
$gray-light: #EBEBEB;

$transition: all 0.3s ease;
$border-radius: 30px;
$mobile-width: 480px;
$tablet-width: 765px;

$font-family: "Montserrat", sans-serif;
